
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Share/MasterPage.cshtml";
}
<head>
    <script src="https://kit.fontawesome.com/feb67790c5.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Register.css" rel="stylesheet" />
</head>
<main class="body">
    <div class="box">
        <h1>:הרשמה לאתר</h1>
        <form method="post" class="form" action="">
            <div class="div1">
                <input placeholder="שם מלא" type="text" class="in1" />
                <br />
            </div>
            <div class="div1">
                <input placeholder="שם החברה" type="text" class="in1" />
                <br />
            </div>
            <div class="div1">
                <input placeholder="אימייל" type="email" class="in1" />
                <br />
            </div>
            <div class="div1">
                <input placeholder="טלפון" type="tel" class="in1" />
                <br />
            </div>
            <div class="div1">
                <input placeholder="סיסמא" type="password" class="in1" />
                <br />
            </div>
            <input class="Submit" type="submit" name="" value="Submit" />
        </form>

    </div>
    <div class="lineMasterRegister">
        <img src="~/Images/footer-logoWhite.png" />
    </div>
</main>

