@model AmiamStore.Models.ProductsPageModel
@{
    ViewBag.Title = "ProductsPage";
    Layout = "~/Views/Share/MasterPage.cshtml";
}
<link href="~/Styles/SafteyProductsStyle.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="MainSafteyPage">
    @{ var currentUser = Html.GetCurrentUser();}
    <div class="h2">
        @Model.CatagoryDescription
    </div>
    <div class="safteyProducts">
        @foreach (var product in Model.Products)
        {
        <div class="Product1">

            <a href="/ProductDetails/ProductDetails/@product.ProductID"><img class="img" style="width:300px" src="\Images\@product.ProductImage"></a>
            <div class="horizontal_dotted_line"></div>
            <div class="starRating">
                <input type="radio" name="star" class="star" /><label class="label" for="star"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star2"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star3"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star4"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star5"></label>
            </div>
            <div class="ProductTitle">
                @product.ProductName
            </div>
            <br />
            <div class="ProductPrice">
                ₪@product.ProductPrice
            </div>
            @*@*<div class="addToShoppingCart">
                <button class="ShoppingButProduct1">
                    <span class="text">הוספה לסל</span>
                </button>
            </div>*@
            <i class="fas fa-shopping-bag"></i>
            @Html.ActionLink("הוספה לסל", "OrderNow", "ShoppingCart", new { id = product.ProductID , @class = "ShoppingB" }, null)
            <br />

        </div>
        }
    </div>
    </div>
<div class="lineMaster">
    <img class="imageLogo" src="~/Images/footer-logoWhite.png" />
</div>
