
@{
    ViewBag.Title = "glowingDrifitShirtPage";
    Layout = "~/Views/Share/MasterPage.cshtml";
}

<link href="~/Styles/ProductStyle.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/ProductPageScript.js"></script>
<div class="boxProduct">
    <div class="ProductDetails">
        <h1 class="titleLuminous">
            חולצת דרייפיט זוהרת
        </h1>
        <span class="ProductPrice">
            ₪27.0
        </span>
        <div class="addToShoppingCart">
            <button class="ShoppingButProduct1">
                <i class="fas fa-shopping-bag"></i>
                <span class="text">הוספה לסל</span>
            </button>
        </div>
        <div class="counter">
            <div class="minus">-</div>
            <input type="text" value="1" class="count" />
            <div class="plus">+</div>
        </div>
        <div class="CatagoryTitle">
            :קטגוריה
        </div>
        <a href="../ProfessionalClothing/ProfessionalClothingPage" class="Catagory">
            ביגוד מקצועי
        </a>
        <div class="Description">
            <div class="DescriptionTitle">
                תיאור
            </div>
            <textarea class="inputDescription" rows="13" cols="70">

                                                 חולצת דרייפיט זוהרת




            </textarea>
        </div>
    </div>
    <div class="ProductImage">
        <img class="image"  src="~/Images/ProfessionalClothingImages/glowingDrifitShirt.png" />
    </div>
    <div class="RelatedProducts">
        <div class="RelatedProductsLine">
            <h3 class="RelatedProductsTitle">
                :מוצרים קשורים
            </h3>
        </div>
        <div class="Product">
            <a href="../ProfessionalClothingProducts/ShortPoloShirtPage">
                <img class="img" src="~/Images/ProfessionalClothingImages/ShortPoloShirt.png" />
            </a>
            <div class="horizontal_dotted_line"></div>
            <div class="starRating">
                <input type="radio" name="star" class="star" /><label class="label" for="star"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star2"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star3"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star4"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star5"></label>

            </div>
            <div class="ProductTitle">
                חולצת פולו קצרה
            </div>
            <br />
            <div class="ProductPrice">
                ₪25
            </div>
            <div class="addToShoppingCart">
                <button class="ShoppingButProduct1">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="text">הוספה לסל</span>
                </button>
            </div>
        </div>
        <div class="Product">
            <a href="../ProfessionalClothingProducts/LuminousCoatPage">
                <img class="img" src="~/Images/SafteyProductsImages/LuminousCoatHomePage.JPEG" />
            </a>
            <div class="horizontal_dotted_line"></div>
            <div class="starRating">
                <input type="radio" name="star" class="star" /><label class="label" for="star"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star2"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star3"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star4"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star5"></label>

            </div>
            <div class="ProductTitle">
                מעיל זוהר
            </div>
            <br />
            <div class="ProductPrice">
                ₪280
            </div>
            <div class="addToShoppingCart">
                <button class="ShoppingButProduct1">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="text">הוספה לסל</span>
                </button>
            </div>
        </div>
        <div class="Product">
            <a href="../ProfessionalClothingProducts/SoftShellCoatPage">
                <img class="img" src="~/Images/ProfessionalClothingImages/SoftshellCoat.jpg" />
            </a>
            <div class="horizontal_dotted_line"></div>
            <div class="starRating">
                <input type="radio" name="star" class="star" /><label class="label" for="star"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star2"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star3"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star4"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star5"></label>

            </div>
            <div class="ProductTitle">
                מעיל סופטשל
            </div>
            <br />
            <div class="ProductPrice">
                ₪145.0
            </div>
            <div class="addToShoppingCart">
                <button class="ShoppingButProduct1">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="text">הוספה לסל</span>
                </button>
            </div>
        </div>
        <div class="Product">
            <a href="../ProfessionalClothingProducts/PVCStormSuitPage">
                <img class="img" src="~/Images/ProfessionalClothingImages/PVCStormSuit.jpg" />
            </a>
            <div class="horizontal_dotted_line"></div>
            <div class="starRating">
                <input type="radio" name="star" class="star" /><label class="label" for="star"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star2"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star3"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star4"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star5"></label>

            </div>
            <div class="ProductTitle">
                חליפת PVC סערה
            </div>
            <br />
            <div class="ProductPrice">
                ₪27.0
            </div>
            <div class="addToShoppingCart">
                <button class="ShoppingButProduct1">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="text">הוספה לסל</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="lineMaster">
    <img class="imageLogo" src="~/Images/footer-logoWhite.png" />
</div>

