*{margin:0;padding:0}
 .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: 1080px;
        margin-top:4%;
        margin-left:23%;
    }
.form {
    display: inline-block;
    width: 800px;
    min-height: 80px;
    height: auto;
}
.gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 500px;
        width: 1080px;
  }
.part2{
    margin-left:35%;
    margin-bottom:5%;
}
.OpenTime{
    margin-left:5%;
}
.ComeToVisit1 {
    margin-left: 5%;
}
.part3 {
    margin-left: 58%;
}
.comeToVisitTitle{
    padding-left:40%;
}
.titleContact {
    margin-top:2%;
    margin-bottom: 4%;
    margin-left: 65%;
}
.piska{
    margin-bottom:14%;
    font-size:20px;
}
.AmiamAdress{
    font-size:17px;
}
.in1 {
    height: 30px;
    width: 270px;
}
.TextEmail{
    font-size:17px;
}
.in1LargeWidth {
    width: 600px;
    height: 30px;
}
.ComeToVisit3{
    margin-left:26%;
}
.labelInp1 {
    display: block;
    padding-left: 70%;
}
.labelInp2{
    display:block;
    padding-left:91%;
}
.labelInp3{
     display:block;
    padding-left:89%;
}
.firstInp{
    display:inline-block;
    margin-left:45px;
}
.SecondInp{
    display:inline-block;
    margin-bottom:1.5%;
    margin-left:23%;
}
.ThirdInp{
        margin-bottom:1.5%;
        margin-left:23.2%;
}
.FourdInp{
    text-align:start;
     width:600px;
    height:200px;
    margin-left:23%;
}
.SendMessageBut{
    transition-duration: 0.4s;
    width: 130px;
    height: 35px;
    background-color: #ffffff;
    margin-top:1.5%;
    margin-left:47.5%;
    margin-bottom:2%;
    border-radius:17px;
}
.SendMessageBut:hover{
    color: red;
    border: solid red 1px;
}
.text {
    color: red;
    font-size:20px;
}
.lineMaster {
    background-image: url('../Images/Point.png');
    background-repeat: repeat-x;
    background-position: bottom;
    margin-left: 23%;
    width: 1100px;
}
.imageLogo{
    margin-bottom:-2.94%;
}
.ContacUsTitle{
    margin-top:2%;
    margin-left:28%;
    margin-bottom:1%;
}
.keepUsContact {
    display: inline-block;
    width: 500px;
    min-height: 50px;
    height: auto;
}
.lineContact {
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.15), transparent)
}