*{padding:0;margin:0;}
.attendees {
    margin-top: 5%;
    margin-left: 45%;
    margin-bottom: 3%;
}
.td{
    text-align:left;
}
.lineMaster {
    background-image: url('../Images/Point.png');
    background-repeat: repeat-x;
    background-position: bottom;
    margin-bottom: 3%;
    margin-top: -3%;
}

.imageLogo {
    margin-bottom: -1.2%;
}
.ButPay {
    margin-bottom: 4%;
    margin-left:12%;
}
.Login{
    margin-bottom:2%;
}
.Box {
    margin-top: 3%;
    height: 300px;
}
.PaypalBut{
    margin-bottom:4%;
}
form table td a{
    color:red;
}