*{padding:0;margin:0;}
.ShoppingCartBox{
    margin-top:5%;
    margin-left:50%;
    margin-bottom:3%;
}
.td{
    text-align:left;
}
.lineMaster {
    background-image: url('../Images/Point.png');
    background-repeat: repeat-x;
    background-position: bottom;
    margin-bottom: 3%;
    margin-top: -3%;
}

.imageLogo {
    margin-bottom: -1.2%;
}