*{padding:0;margin:0;}
.counter
{
    width:120px;
    display:flex;
    font-size:25px;
    margin-left:50%;
}
.minus {
    width: 120px;
    background-color: #dae2e6;
    padding: 10px;
    cursor: pointer;
}

.plus {
    width: 120px;
    background-color: #dae2e6;
    padding: 10px;
    cursor: pointer;
}
.CatagoryTitle{
    padding-left:30%;
    margin-top:5%;
}
.count {
    width: 60px;
    padding: 10px;
    display: block;
    border: none;
}
.img {
    width: 200px;
    height: 200px;
}
.Description{
    margin-top:6%;
}
.CatagoryLumious {
    margin-top:5%;
    display:inline-block;
    margin-left:-48%;
    color:black;
}
.Catagory2Lumious {
    display: inline-block;
    color: black;
}
.Catagory {
    display: inline-block;
    margin-left: 30%;
    color: black;
}
.Catagory2{
    padding-left:40%;
    display:inline;
    color:black
}
.Product {
    display: inline-block;
    width: 211px;
    background-color: white;
    margin-left: 5%;
    height: 357px;
}

.Product:hover {
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.boxProduct{
    margin-top:5%;
    height:700px
}
.ProductImage {
    display: inline-block;
    margin-left: 6%;
    margin-top:2%;
}
.image {
    width: 450px;
    height: 450px;
}
.inputDescription{
    height:220px;
    width:480px;
}
.ProductDetails {
    display: inline-block;
    margin-left: 15%;
}
.RelatedProducts {
    margin-top:5%;
}
.titleLuminous{
    font-size:40px;
    padding-left:50%;
    margin-bottom:3%;
    width:160px;
    height:100px;
    text-align: justify;
}
.ProductPrice{
    font-size:23px;
    padding-left:40%;
    width:120px;
    height:60px;
    text-align: justify;
}
.addToShoppingCart {
    margin-bottom: 5%;
    margin-top: 3%;
    padding-left:30%;
}
.ShoppBut {
    color: black;
}
.text {
    color: red;
    font-size:20px;
}
.RelatedProductsLine {
    background-image: url('../Images/FirstLine.png');
    background-repeat: repeat-x;
    background-position: center center;
    margin-bottom: 1%;
}
.RelatedProductsTitle {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #f4f4f4;
    padding: 0 42px;
    font-size: 23px;
    font-family: sans-serif;
}
.lineMaster {
    background-image: url('../Images/Point.png');
    background-repeat: repeat-x;
    background-position: bottom;
    margin-left: 23%;
    width: 1200px;
}
.imageLogo{
    margin-bottom:-2.9%;
}
.starRating {
    transform: translate(-50%,-50%);
    display: flex;
    margin-left: 55%;
    margin-top: 8%;
}
.ProductDetails a {
    text-decoration: none;
    color: black;
    font-size:20px;
}
.LinkBut {
    margin-left: 55%;
    margin-top: 3%;
    transition-duration: 0.4s;
    width:120px;
}
.LinkBut:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.ProductDetails a:hover{
    color:red;
}
.starRating input {
    display: none;
}

.starRating label {
        display: inline-block;
        cursor: pointer;
        width: 15px;
}

.label:before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 17px;
    color: #101010;
}

.label:after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 15px;
    color: #1f9cff;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.starRating label:hover:after,
.starRating label:hover ~ label:after,
.starRating input:checked ~ label:after {
    opacity: 1;
}
.horizontal_dotted_line {
    border-top: 1px dotted black;
}