
@{
    ViewBag.Title = "BlackNitrileWorkGlovesPage";
    Layout = "~/Views/Share/MasterPage.cshtml";
}

<link href="~/Styles/ProductStyle.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/ProductPageScript.js"></script>
<div class="boxProduct">
    <div class="ProductDetails">
        <h1 class="titleLuminous">
            כפפות עבודה נטריל שחור     
           </h1>
        <span class="ProductPrice">
            ₪25.0
        </span>
        <div class="addToShoppingCart">
            <button class="ShoppingButProduct1">
                <i class="fas fa-shopping-bag"></i>
                <span class="text">הוספה לסל</span>
            </button>
        </div>
        <div class="counter">
            <div class="minus">-</div>
            <input type="text" value="1" class="count" />
            <div class="plus">+</div>
        </div>
        <div class="CatagoryTitle">
            :קטגוריה
        </div>
        <a href="../WorkGloves/WorkGlovesPage" class="Catagory">
            כפפות עבודה
        </a>
        <div class="Description">
            <div class="DescriptionTitle">
                תיאור
            </div>
            <textarea class="inputDescription" rows="13" cols="70">

                                                             כפפות

                                                מינימום הזמנה 12 יחידות


            </textarea>
        </div>
    </div>
    <div class="ProductImage">
        <img class="image" src="~/Images/WorkGlovesImages/BlackNitrileWorkGlo.png" />
    </div>
    <div class="RelatedProducts">
        <div class="RelatedProductsLine">
            <h3 class="RelatedProductsTitle">
                :מוצרים קשורים
            </h3>
        </div>
        <div class="Product">
            <a href="../WorkGlovesProducts/ReinforcedWeldingWorkGlovesPage">
                <img class="img" src="~/Images/WorkGlovesImages/ReinforcedWeldingWorkGloves.png" />
            </a>
            <div class="horizontal_dotted_line"></div>
            <div class="starRating">
                <input type="radio" name="star" class="star" /><label class="label" for="star"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star2"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star3"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star4"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star5"></label>

            </div>
            <div class="ProductTitle">
                כפפות עבודה ריתוך מחוזק
            </div>
            <br />
            <div class="ProductPrice">
                ₪18.0
            </div>
            <div class="addToShoppingCart">
                <button class="ShoppingButProduct1">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="text">הוספה לסל</span>
                </button>
            </div>
        </div>
        <div class="Product">
            <a href="../WorkGlovesProducts/ReinforcedGreenHouseholdWorkGlovesPage">
                <img class="img" src="~/Images/WorkGlovesImages/ReinforcedGreenHouseholdWorkGloves.png" />
            </a>
            <div class="horizontal_dotted_line"></div>
            <div class="starRating">
                <input type="radio" name="star" class="star" /><label class="label" for="star"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star2"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star3"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star4"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star5"></label>

            </div>
            <div class="ProductTitle">
                כפפות עבודה משק בית ירוק מחוזק
            </div>
            <br />
            <div class="ProductPrice">
                ₪9.0
            </div>
            <div class="addToShoppingCart">
                <button class="ShoppingButProduct1">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="text">הוספה לסל</span>
                </button>
            </div>
        </div>
        <div class="Product">
            <a href="../WorkGlovesProducts/WorkingGlovesTManjitPage">
                <img class="img" src="~/Images/WorkGlovesImages/WorkingGlovesT-Manjit.png" />
            </a>
            <div class="horizontal_dotted_line"></div>
            <div class="starRating">
                <input type="radio" name="star" class="star" /><label class="label" for="star"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star2"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star3"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star4"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star5"></label>

            </div>
            <div class="ProductTitle">
                כפפות עבודה טריקו מנג׳יט
            </div>
            <br />
            <div class="ProductPrice">
                ₪2.0
            </div>
            <div class="addToShoppingCart">
                <button class="ShoppingButProduct1">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="text">הוספה לסל</span>
                </button>
            </div>
        </div>
        <div class="Product">
            <a href="../WorkGlovesProducts/OrganizationWorkGlovesPage">
                <img class="img" src="~/Images/WorkGlovesImages/OrganizationWorkGloves.png" />
            </a>
            <div class="horizontal_dotted_line"></div>
            <div class="starRating">
                <input type="radio" name="star" class="star" /><label class="label" for="star"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star2"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star3"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star4"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star5"></label>

            </div>
            <div class="ProductTitle">
                כפפות עבודה ארגון
            </div>
            <br />
            <div class="ProductPrice">
                ₪20.0
            </div>
            <div class="addToShoppingCart">
                <button class="ShoppingButProduct1">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="text">הוספה לסל</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="lineMaster">
    <img class="imageLogo" src="~/Images/footer-logoWhite.png" />
</div>
