@model AmiamStore.Models.Login
@{
    ViewBag.Title = "LoginPage";
    Layout = "~/Views/Share/MasterPage.cshtml";
}
<link href="~/Styles/Login.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/feb67790c5.js" crossorigin="anonymous"></script>
<div class="mainDiv">
    <main class="mainLogin">
        <div class="login-box">
            <h1>Login</h1>
            <div class="textbox">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="UserName" name="" value="" />
            </div>
            <div class="textbox">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Password" name="" value="" />   
            </div>
            <input type="button" name="" value="LogIn" class="btn" />
        </div>
    </main>
</div>
<div class="lineMasterLogin">
    <span>
        <img class="ImageLogin" src="~/Images/footer-logoWhite.png" />
    </span>

</div>