
@{
    ViewBag.Title = "LuminousCoatPage";
    Layout = "~/Views/Share/MasterPage.cshtml";
}
<link href="~/Styles/ProductStyle.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/ProductPageScript.js"></script>
<div class="boxProduct">
    <div class="ProductDetails">
        <h1 class="titleLuminous">
            מעיל זוהר
        </h1>
        <span class="ProductPrice">
            ₪280
        </span>
        <div class="addToShoppingCart">
            <button class="ShoppingButProduct1">
                <i class="fas fa-shopping-bag"></i>
                <span class="text">הוספה לסל</span>
            </button>
        </div>
        <div class="counter">
            <div class="minus">-</div>
            <input type="text" value="1" class="count" />
            <div class="plus">+</div>
        </div>
        <span class="CatagoryTitle">
            :קטגוריה
        </span>
        <a href="../SafteyProducts/SafteyProductsPage" class="CatagoryLumious">
            מוצרי בטיחות
        </a>
        <a href="../ProfessionalClothing/ProfessionalClothingPage" class="Catagory2Lumious">
            , ביגוד מקצועי
        </a>
        <div class="Description">
            <div class="DescriptionTitle">
                תיאור
            </div>
            <textarea class="inputDescription" rows="3" cols="20">

                                                       מעיל זוהר
        </textarea>
        </div>
    </div>
    <div class="ProductImage">
        <img class="image" src="~/Images/SafteyProductsImages/LuminousCoatHomePage.JPEG" />
    </div>
    <div class="RelatedProducts">
        <div class="RelatedProductsLine">
            <h3 class="RelatedProductsTitle">
                :מוצרים קשורים
            </h3>
        </div>
        <div class="Product">
            <a href="../ProductPage/DoubleBranchRelieverPage">
                <img class="img" src="~/Images/SafteyProductsImages/DoubleBranchReliever.jpg" />
            </a>
            <div class="horizontal_dotted_line"></div>
            <div class="starRating">
                <input type="radio" name="star" class="star" /><label class="label" for="star"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star2"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star3"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star4"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star5"></label>

            </div>
            <div class="ProductTitle">
                חבל משכך דו ענפי
            </div>
            <br />
            <div class="ProductPrice">
                ₪155
            </div>
            <div class="addToShoppingCart">
                <button class="ShoppingButProduct1">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="text">הוספה לסל</span>
                </button>
            </div>
        </div>
        <div class="Product">
            <a href="../ProductPage/MDAModelVestPage">
                <img class="img" src="~/Images/SafteyProductsImages/MDAModelVest.jpg" />
            </a>
            <div class="horizontal_dotted_line"></div>
            <div class="starRating">
                <input type="radio" name="star" class="star" /><label class="label" for="star"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star2"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star3"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star4"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star5"></label>

            </div>
            <div class="ProductTitle">
                אפוד דגם מד״א
            </div>
            <br />
            <div class="ProductPrice">
                ₪85
            </div>
            <div class="addToShoppingCart">
                <button class="ShoppingButProduct1">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="text">הוספה לסל</span>
                </button>
            </div>
        </div>
        <div class="Product">
            <a href="../ProductPage/BasicProtectiveHeadsetPage">
                <img class="img" src="~/Images/SafteyProductsImages/BasicProtectiveHeadset.jpg" />
            </a>
            <div class="horizontal_dotted_line"></div>
            <div class="starRating">
                <input type="radio" name="star" class="star" /><label class="label" for="star"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star2"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star3"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star4"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star5"></label>

            </div>
            <div class="ProductTitle">
                אוזניות מגן בייסיק
            </div>
            <br />
            <div class="ProductPrice">
                ₪15
            </div>
            <div class="addToShoppingCart">
                <button class="ShoppingButProduct1">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="text">הוספה לסל</span>
                </button>
            </div>
        </div>
        <div class="Product">
            <a href="../ProductPage/BangingHatPage">
                <img class="img" src="~/Images/SafteyProductsImages/BangingHat.jpg" />
            </a>
            <div class="horizontal_dotted_line"></div>
            <div class="starRating">
                <input type="radio" name="star" class="star" /><label class="label" for="star"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star2"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star3"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star4"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star5"></label>

            </div>
            <div class="ProductTitle">
                כובע חבטה
            </div>
            <br />
            <div class="ProductPrice">
                ₪35
            </div>
            <div class="addToShoppingCart">
                <button class="ShoppingButProduct1">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="text">הוספה לסל</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="lineMaster">
    <img class="imageLogo" src="~/Images/footer-logoWhite.png" />
</div>