    
@{
    ViewBag.Title = "ContactUsPage";
    Layout = "~/Views/Share/MasterPage.cshtml";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="~/Styles/ContacUsStyle.css" rel="stylesheet" />
<div class="boxPage">
    <div class="mapouter">
        <div class="gmap_canvas"><iframe width="1080" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%D7%A8%D7%95%D7%9E%D7%90%206%20%D7%A9%D7%93%D7%A8%D7%95%D7%AA&t=k&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
    </div>

    <div class="keepUsContact">
        <div class="part1">
            <h1 class="titleContact">
                :שמרו על קשר
            </h1>
            <p class="piska">
                חברת עמיאם והפצה מתמחה בשיווק ואספקה של מוצרי צריכה למפעלים תוך שימת דגש רב
                .על שירות אדיב ומהיר, מחירים נוחים, מתן פתרונות ויחס אישי לכל לקוח
                ,אנו מספקים מגוון רחב של מוצרים החל מבגדי עבודה המותאמים למגוון העבודות בתעשייה, נעלי עבודה בטיחותיות
                <br />
                ביגוד ייצוגי בגדים המותאמים לתעסוקה במטבח, מוצרי בטיחות המספקים פתרונות לכלל סוגי
                התעשייה בארץ, כל סוגי הכפפות לתעשייה, לטקס, משק בית, בד-בד, בד-עור, בד-עור מחוזק ועוד סוגים
                שונים של כפפות
            </p>
        </div>
        <div class="verticalLineContact">
            <hr class="lineContact" />
        </div>
        <div class="part2">
            <h1 class="comeToVisitTitle"> בואו לבקר</h1>
            <div class="ComeToVisit1">
                <span class="AmiamAdress">כתובת: שדרות רחוב רומא 6 , מיקוד:8714661</span>
                <span><i class="fas fa-map-marker-alt"></i></span>

            </div>
            <div class="ComeToVisit2">
                <span class="AmiamAdress">שירות לקוחות: 072-397-0899, 072-397-0913</span>
                <span><i class="fas fa-phone"></i></span>

            </div>
            <div class="ComeToVisit3">
                <span class="TextEmail"> amiam.negba@gmail.com:מייל</span>
                <span class="fontEmail"><i class="far fa-envelope"></i></span>
            </div>
        </div>
        <div class="verticalLineContact">
            <hr class="lineContact" />
        </div>
        <div class="part3">
            <h1>
                :שעות פעילות
            </h1>
            <div>
                <span> ראשון עד חמישי: 9:00-18:00</span>
                <span><i class="fas fa-stopwatch"></i></span>
            </div>
            <div class="OpenTime">
                <span>שישי וערבי חג: 9:00-13:00  </span>
                <span><i class="fas fa-stopwatch"></i></span>

            </div>
        </div>
    </div>
    <form method="post" class="form" action="">
        <h1 class="ContacUsTitle">
            השאירו פרטים ואחד מנציגנו יחזור אליכם
        </h1>
        <br />

        <div class="SecondInp">
            <label class="labelInp1">*אימייל</label>
            <input type="email" class="in1" required />
        </div>
        <div class="firstInp">
            <label class="labelInp1">*שם מלא</label>
            <input type="text" class="in1" required dir="rtl" />
        </div>
        <div class="ThirdInp">
            <label class="labelInp2">נושא</label>
            <input type="text" class="in1LargeWidth" required dir="rtl" />
            <br />
        </div>
        <div class="LastInp">
            <label class="labelInp3">תוכן ההודעה</label>
            <textarea class="FourdInp" dir="rtl">
            </textarea>
        </div>
        <button type="button" class="SendMessageBut"><span class="text">שלח הודעה</span></button>
    </form>
</div>

<div class="lineMaster">
    <img class="imageLogo" src="~/Images/footer-logoWhite.png" />
</div>

