
@{
    ViewBag.Title = "WorkShoesTrekkingModelWithShieldPage";
    Layout = "~/Views/Share/MasterPage.cshtml";
}

<link href="~/Styles/ProductStyle.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/ProductPageScript.js"></script>
<div class="boxProduct">
    <div class="ProductDetails">
        <h1 class="titleLuminous">
            נעלי עבודה טרקינג
       </h1>
        <span class="ProductPrice">
            ₪120.0
        </span>
        <div class="addToShoppingCart">
            <button class="ShoppingButProduct1">
                <i class="fas fa-shopping-bag"></i>
                <span class="text">הוספה לסל</span>
            </button>
        </div>
        <div class="counter">
            <div class="minus">-</div>
            <input type="text" value="1" class="count" />
            <div class="plus">+</div>
        </div>
        <div class="CatagoryTitle">
            :קטגוריה
        </div>
        <a href="../SafteyAndWorkShoes/SafteyAndWorkShoesPage" class="Catagory">
            נעלי עבודה ובטיחות
        </a>
        <div class="Description">
            <div class="DescriptionTitle">
                תיאור
            </div>
            <textarea class="inputDescription" rows="13" cols="70">
                                                נעלי בטיחות לעבודה

                                         נוחה במיוחד בעלת אימום רחב

                                                         PU-PU

                                             אנטי סטטי עמיד בהחלקה

                                                 נושמת ומונעת זיעה

                                                  שילוב עור וניילון

                                                    מידות 39-46
                                      !יש לבדוק מלאי ומידות טרם הזמנה

            </textarea>
        </div>
    </div>
    <div class="ProductImage">
        <img class="image" src="~/Images/SafteyAndWorkShoes/WorkShoesTrekkingModelWithShield.jpg" />
    </div>
    <div class="RelatedProducts">
        <div class="RelatedProductsLine">
            <h3 class="RelatedProductsTitle">
                :מוצרים קשורים
            </h3>
        </div>
        <div class="Product">
            <a href="../SafteyAndWorkShoesProducts/O2WorkBootWithoutProtectiveCoverPage">
                <img class="img" src="~/Images/SafteyAndWorkShoes/O2Shoe.jpg" />
            </a>
            <div class="horizontal_dotted_line"></div>
            <div class="starRating">
                <input type="radio" name="star" class="star" /><label class="label" for="star"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star2"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star3"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star4"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star5"></label>

            </div>
            <div class="ProductTitle">
                מגף עבודה O2
            </div>
            <br />
            <div class="ProductPrice">
                ₪100.0
            </div>
            <div class="addToShoppingCart">
                <button class="ShoppingButProduct1">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="text">הוספה לסל</span>
                </button>
            </div>
        </div>
        <div class="Product">
            <a href="../SafteyAndWorkShoesProducts/WorkBootWithS3ShieldPage">
                <img class="img" src="~/Images/SafteyAndWorkShoes/WorkBootWithS3Shield.jpg" />
            </a>
            <div class="horizontal_dotted_line"></div>
            <div class="starRating">
                <input type="radio" name="star" class="star" /><label class="label" for="star"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star2"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star3"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star4"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star5"></label>

            </div>
            <div class="ProductTitle">
                מגף עבודה עם מגן S3
            </div>
            <br />
            <div class="ProductPrice">
                ₪245.0
            </div>
            <div class="addToShoppingCart">
                <button class="ShoppingButProduct1">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="text">הוספה לסל</span>
                </button>
            </div>
        </div>
        <div class="Product">
            <a href="../SafteyAndWorkShoesProducts/BlanstonModel192Page">
                <img class="img" src="~/Images/SafteyAndWorkShoes/BlanstonModel192.jpg" />
            </a>
            <div class="horizontal_dotted_line"></div>
            <div class="starRating">
                <input type="radio" name="star" class="star" /><label class="label" for="star"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star2"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star3"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star4"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star5"></label>

            </div>
            <div class="ProductTitle">
                בלנסטון דגם 192
            </div>
            <br />
            <div class="ProductPrice">
                ₪449.0
            </div>
            <div class="addToShoppingCart">
                <button class="ShoppingButProduct1">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="text">הוספה לסל</span>
                </button>
            </div>
        </div>
        <div class="Product">
            <a href="../SafteyAndWorkShoesProducts/UBBKModelRedbackShoePage">
                <img class="img" src="~/Images/SafteyAndWorkShoes/UBBKModelRedbackLock.jpg" />
            </a>
            <div class="horizontal_dotted_line"></div>
            <div class="starRating">
                <input type="radio" name="star" class="star" /><label class="label" for="star"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star2"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star3"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star4"></label>
                <input type="radio" name="star" class="star" /><label class="label" for="star5"></label>

            </div>
            <div class="ProductTitle">
                UBBK נעל רדבק דגם
            </div>
            <br />
            <div class="ProductPrice">
                ₪495.0
            </div>
            <div class="addToShoppingCart">
                <button class="ShoppingButProduct1">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="text">הוספה לסל</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="lineMaster">
    <img class="imageLogo" src="~/Images/footer-logoWhite.png" />
</div>


