
@{
    ViewBag.Title = "OrderComplete";
    Layout = "~/Views/Share/MasterPage.cshtml";
}

<h2 class="CompleteOrderTitle">The order was successful, thank you very much for your purchase and have a pleasant day</h2>

