
@{
    ViewBag.Title = "OrderFailed";
    Layout = "~/Views/Share/MasterPage.cshtml";
}
<link href="~/Styles/PaymentStyle.css" rel="stylesheet" />
<h2 class="PaymetFailedMessage">The credit card details are incorrect. please try again.</h2>
<input class="ButPay" type="button" value="לחזרה לתשלום" onclick="location.href='@Url.Action("Payment", "ShoppingCart")'" />

