*{margin:0;padding:0}
.main {
    text-align: justify;
    text-align:center;
    margin-top:25%;
    width:1300px;
    height:1344px;
    margin-left:25%;
}
.div{
        margin-right:30%;

}
.ProductImg {
    height:250px;
    height:250px;
    margin-bottom:13%;
    margin-top:15px;

}
.catagories{margin-left:35px;margin-top:100px;}
.ProductImg1 {
    height: 300px;
    height: 300px;
}
.Box{display:inline-block;margin-left:60px;margin-top:45px;
}
.ProductPrice {
    margin-left: -80%;
    display: inline-block;
    transition-duration: 0.4s;
    border-radius: 50%;
    width: 40px;
    height: 20px;
    background-color: #2aa6ca;
}
.ProductName {
    font-family: sans-serif;
    font-weight: bold;
}
.Image {
    margin-top: 10%;
}
.title{margin-bottom:100px;}
.NavigationCatagories {
    margin-top: -5%;
    margin-bottom: 20px;
}
.line {
    background-image: url('../Images/Point.png');
    background-repeat: repeat-x;
    background-position: center center;
}
.PopularProducts {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 40px;
   border: solid #dadada 1px;
   height:430px;
}
.PopularProductsLine {
    background-image: url('../Images/FirstLine.png');
    background-repeat: repeat-x;
    background-position: center center;
}
.h3{
    display:inline-block;
    vertical-align:middle;
    text-transform:uppercase;
    background-color:#f4f4f4;
    padding:0 42px;
    font-size:23px;
    font-family:sans-serif;
    
}
.formDetails {
    background-image: url('../Images/FormBackGroundImage.jpg');
    height: 200px;
    width: 1300px;
    margin-top:7.5%;
}
.inputs {
    display: inline-block;
    margin-top: 110px;
    margin-left: 15%;
}
.but {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
}
.h1{color:white;float:right;
    font-size:25px;
    margin-top:30px;
}
.input {
    background: rgba(0, 0, 0, 0.35);
    border: solid #47a7ce 1px;
    width: 180px;
    height: 50px;
    color: white;
    margin-left: 10px;
    margin-top: 5%;
    direction: rtl;
    margin-top: 5%;
}
.CustomersBut {
    background-color: dodgerblue;
    padding: 16px;
    transition-duration: 0.4s;
}
.CustomersBut:hover{
  color: white;
}
.lineMaster {
    background-image: url('../Images/Point.png');
    background-repeat: repeat-x;
    background-position: bottom;
    width: 1300px;
    margin-left: 17.5%;
    margin-top: 2%;
}
.imageLogoWhite{
    margin-bottom:-2.5%;
}
.vertical_dotted_line {
    border-left: 1px dotted black;
    height: 310px;
    margin-top: 35px;
    position: absolute;
    margin-left: 1%;
}
.ShoppingBut {
    transition-duration: 0.4s;
    border-radius: 50%;
    width: 100px;
    height: 50px;
    text-decoration: none;
    color: black;
}
.addToShoppingCart {
    display:block;
    text-align:center;
}
.ShoppingBut:hover {
    color: red;
}
.slider{
    margin-top:5%;
    margin-bottom:-15%;
}
.slider-item1 {
    background-image: url('../../Images/SliderImage1.jpg')
}
.slider-text {
    position: absolute;
    color: white;
    margin-left: -20px;
    font-size: 40px;
    transition: ease-in;
    transition: margin 2s;
}
.SliderImg {
    position: absolute;
    right:6%;
    top:100px;
}

.slider-text-h1First {
    margin-top: 55px;
    width:525px;
}
.slider-text-h1Second{
    margin-top:120px;
        width:525px;
}
.slider-text-h1Third{
    margin-top:180px;
        width:525px;
}
.buttonRegister {
    margin-top: 260px;
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.buttonRegister:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}
.buttonLogin {
    margin-top: 350px;
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.truckImage {
    margin-top: 4%;
    transition: margin 2s;
    display: inline-block;
    height:400px;
}
.BoxesImage{
    margin-top:10%;
    display:inline-block;
}
.sliderTextImage3Header1 {
    position: absolute;
    margin-top: -25%;
    transition: margin 2s;
    color: white;
    font-size: 43px;
    font-family: Cooper;
}
.sliderTextImage3Header2 {
    position: absolute;
    margin-top: -22%;
    transition: margin 2s;
    color: white;
    font-size: 43px;
    font-family:Cooper;
}
/*.ContactButton {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    display:inline-block;
    float:left;
}
.ContactButton:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}*/
.GloveImg {
    height: 220px;
    width: 220px;
    margin-top: 8%;
    float: left;
    transition: margin 2s;
    margin-left:50%;
}
.BlanstonImg {
    height: 270px;
    width: 270px;
    float:left;
    margin-top:-11.5%;
    transition: margin 2s;
    margin-right:40%;
}
.ShoeImg{
    width:270px;
    height:270px;
}
.slide4head1 {
    position:absolute;
    margin-top: -14%;
    transition: margin 2s;
    color: white;
    font-size: 45px;
    font-family: Cooper;
}
.slide4head2 {
    position:absolute;
    margin-top: -11%;
    transition: margin 2s;
    color: white;
    font-size: 45px;
    font-family: Cooper;
}
.ContactButton{
    display:inline-block;
}
.SliderTextLastImg1 {
    color: white;
    margin-top: 1%;
    float: left;
    transition: margin 2s;
    position: absolute;
    font-size:45px;
}
.SliderTextLastImg2 {
    color: white;
    margin-top: 4%;
    transition: margin 2s;
    position: absolute;
    font-size: 45px;
}
.slide5Form {
    margin-top: 10%;
    float: left;
    transition: margin 2s;
}
.moveText1 {
    margin-left:49%;
}
.moveText2{
    margin-left:40%;
}
.moveText3{
    margin-left:30%;
}
.RegisterButton {
    margin-left: -15%;
}
.LoginButton {
    margin-left: 30%;
}
.ImageTruck {
    margin-right: 22%;
}
.ImageBoxes {
    margin-left: 18%;
}
.slideTextFirst {
    margin-left: 30%;
}
.slideTextSecond {
    margin-left: 24%;
}
.ImageGlove{
    margin-left:45%;
}
.ImageBlanston {
    margin-left: 30%;
}
.ImageShoe{
    margin-left:-25%;
}
.slide4FirstHead{
    margin-left:33%;
}
.slide4SecondHead {
    margin-left: 23%;
}
.SlideTextLastImage{
    margin-left:45%
}
.SlideTextLastImage2 {
    margin-left: 30%;
}
.LastSlideForm {
    margin-left: 35%
}