*{margin:0;padding:0}
.mainLogin {
    height: 500px;
    width: 2005px;
    margin-top: 5%;
}
.login-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    height: 300px;
}
.login-box h1{
    float:left;
    font-size:40px;
    border-bottom:6px solid black;
    margin-bottom:50px;
    padding:13px 0;
    margin-left:20px;
    
}
.textbox{
    width:100%;
    overflow:hidden;
    font-size:20px;
    padding:8px 0;
    margin:8px 0;
    border-bottom:1px solid black;
}
.textbox i{
    width:26px;
    float:left;
    text-align:center;
}
.textbox input{
    border:none;
    outline:none;
    background:none;
    color:black;
    font-size:18px;
    width:190px;
    float:left;
    margin:0 10px;
}
.btn{
    width:100%;
    background:none;
    border:2px solid black;
    color:black;
    padding:5px;
    font-size:18px;
    cursor:pointer;
    margin:12px 0;
}
.btn:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.lineMasterLogin {
    background-image: url('../Images/Point.png');
    background-repeat: repeat-x;
    background-position:bottom;
    margin-bottom:3%;
    width:1100px;
    margin-left:29%;
    margin-top:-3%;
}
.ImageLogin{
    margin-bottom:-3%;
}
