* {
    padding: 0;
    margin: 0;
}

.MainSafteyPage {
    margin-top: 5%;
    width: 100%;
    background-color: #f4f4f4;
}

.img {
    width: 300px;
    height:300px;
    margin-top: 5%;
}
.h2{
    font-size:25px;
    padding-top:1%;
}
.EditBut:hover{
	 color: red;
}
.h2Part2 {
    margin-left: 31%;
    font-size: 20px;
}
.h2Part2Saftey {
    margin-left: 27%;
    font-size: 20px;
}
.h2Part2Gloves {
    margin-left: 25%;
    font-size: 20px;
}
.safteyProducts a {
    text-decoration:none;
    color:black;
}
.safteyProducts a:hover {
    color: red;
}
.Product1 {
    display: inline-block;
    background-color: white;
    height: 430px;
    margin-top: 3%;
    margin-left: 6%;
    transition: 0.5s;
    border:1px solid #e2dddd;
    
}

.Product1:hover {
        /*-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/
       
        transform:scale(1.1);
       
}

.lineMaster {
    background-image: url('../Images/Point.png');
    background-repeat: repeat-x;
    background-position:bottom;
    margin-left: 23%;
    width: 1300px;
}

.h1SafteyProducts {
    font-size: 30px;
}

.imageLogo {
    margin-bottom: -2.92%;
}
.ProductTitle {
    margin-top:-2%;
    margin-bottom: -6%;
    font-size: 19.2px;
    font-family: Arial, Helvetica, sans-serif;
}
.ProductPrice{
    margin-left:15%;
    margin-bottom:15px;
    font-size:22px;
    color:red;
}
.SecondLine{
    margin-bottom:2%;
}
.addToShoppingCart {
    margin-top: -7%;
}
.text{
    color:black;
}
.ShoppingB {
    color: #333333
}

.ShoppingButProduct1:hover {
    color: red;
    border: solid red 1px;
}
.starRating {
    transform:translate(-50%,-50%);
    display:flex;
    margin-left:58%;
    margin-top:3%;
    margin-bottom:1%;
}
.starRating input{
    display:none;
}
.starRating label{
     display:inline-block;
     cursor:pointer;
     width:15px;
}
.label:before {
    content: '\f005';
    font-family:fontAwesome;
    position:relative;
    display:block;
    font-size:17px;
    color:#101010;
}
.label:after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 15px;
    color:#1f9cff;
    top:0;
    opacity:0;
    transition:.5s;
    text-shadow:0 2px 5px rgba(0,0,0,.5);
}
.starRating label:hover:after,
.starRating label:hover ~ label:after,
.starRating input:checked ~ label:after {
    opacity: 1;
}
.text {
        color: red;
    }
.text:hover{
    background-color:white;
}
.horizontal_dotted_line {
    margin-top:-1%;
    border-top: 1px dotted black;
}
.container {
    margin-top: 20%;
}

.page {
    display: none;
}

.page-active {
    display: block;
}

