@model AmiamStore.Models.CartViewModel
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Share/MasterPage.cshtml";
}
<link href="~/Styles/PaymentStyle.css" rel="stylesheet" />
<div class="FormPayment">
   
</div>
<div class="lineMaster">
    <img class="imageLogo" src="~/Images/footer-logoWhite.png" />
</div>

